@use "@shared/styles/mixins" as *;

.app {
  display: flex;
  overflow: hidden;
  height: 100vh;
  flex-direction: column;
}

.playerBackdrop {
  position: fixed;
  inset: 0;
  z-index: 500;
  display: none;
  background: linear-gradient(
    to top,
    rgb(0 0 0 / 65%) 0%,
    rgb(0 0 0 / 45%) 50px,
    rgb(0 0 0 / 15%) 80px,
    transparent 110px
  );
  pointer-events: none;

  @include down(lg) {
    display: block;
  }
}

.container {
  position: relative;
  display: grid;
  overflow: hidden;
  flex: 1;
  grid-template-columns: 1fr 320px;

  @include down(lg) {
    grid-template-columns: 1fr;
  }
}

.main {
  position: relative;
  z-index: 1;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

.search {
  padding: var(--spacing-xl) var(--spacing-lg);
  border-bottom: 1px solid var(--color-border);

  @include down(md) {
    padding: var(--spacing-lg) var(--spacing-md);
  }
}

.content {
  overflow-y: auto;
  padding: var(--spacing-lg);
  flex: 1;

  @include down(lg) {
    padding-bottom: calc(120px + var(--safe-area-inset-bottom));
  }

  @include down(md) {
    padding: var(--spacing-md);
    padding-bottom: calc(120px + var(--safe-area-inset-bottom));
  }
}

.sidebar {
  position: relative;
  z-index: 999;

  @include down(lg) {
    display: none;
  }
}
