@use "@shared/styles/mixins" as *;

.trackList {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.empty {
  display: flex;
  padding: var(--spacing-2xl);
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-lg);
  text-align: center;
  color: var(--color-text-secondary);

  svg {
    opacity: 50%;
  }

  p {
    font-size: 1.125rem;
  }
}

.items {
  display: flex;
  flex-direction: column;
  gap: 0;
}

@include down(md) {
  .title {
    font-size: 1.25rem;
  }

  .empty {
    padding: var(--spacing-xl);

    svg {
      width: 48px;
      height: 48px;
    }

    p {
      font-size: 1rem;
    }
  }
}
